* {
	font-size: 1em;
}

body {
	background-color: hsl(30, 54%, 90%);
}

.OmeletteSection {
	display: block;
	margin: auto;
	background-color: hsl(0, 0%, 100%);
	/* top | right | bottom | left */
	padding: 2em;
	width: 35em;
	height: 70em;
	border-radius: 1em;
}

img {
	width: 35em;
	height: 15em;
	border-radius: 1em;
}

.OmeletteTitle {
	font-size: 2.2em;
}

.OmelettePara {
	font-size: 0.95em;
}

.PrepTime {
	font-weight: 800;
}
